*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
}

#bingoCard{
    width: 750px;
    height: 750px;
    margin-top: 50px
    
}

#bingoCard div{
    width: 100%;
    height: 100px;
    padding-top: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}

#info{
    font-size: 20px;
}


#bingoGrid{
    display: flex;
    flex-wrap: wrap;
}

#bingoGrid div{
    position: relative;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px 5px;
}

#bingoGrid div p{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#freeSpace{
    padding: 0;
}

#freeSpace p{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
}

@media screen and (max-width: 1000px){

    #bingoCard{
        width: 500px;
        height: 500px;
    }

    #bingoGrid div{
        height: 100px;
        width: 100px;
        font-size: 12px
    }

    #freeSpace p{
        font-size: 30px
    }
}

@media screen and (max-width: 550px){
    #bingoCard{
        width: 250px;
        height: 250px;
    }

    #bingoCard div{
        padding-top: 0;
        font-size: 20px;
        height: 50px;
        border: 1px solid black
    }

    #info{
        font-size: 10px;
    }

    #bingoGrid div{
        width: 50px;
        height: 50px;
        font-size: 5px;
        padding: 2px;
    }

    #freeSpace p{
        font-size: 12px;
    }
}
