* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(22, 22, 22)
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    background-color: rgb(32, 32, 32);
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    padding-top: 30px;
    color: rgb(182, 179, 179);
    border-bottom: 5px solid rgb(52, 52, 52);
    font-family: sans-serif;
    z-index: 1;
} 


#loadoutArea{
    height: 1500px;
    margin-top: 175px;
    padding-bottom: 100px;
}

#loadoutArea ul{
    margin: 10px 0;
}

#loadoutArea li{
    color: rgb(182, 179, 179);
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 30px;
}

#loadoutBtn{
    width: 200px;
    height: 50px;
    border-radius: 360px;
    border: none;
    background-color: rgb(79, 77, 77);
    color: white;
    font-size: 30px;
}

#loadoutBtn:hover{
    cursor: pointer;
}

.back-button{
    width: 200px;
    height: 50px;
    border-radius: 360px;
    border: none;
    background-color: rgb(79, 77, 77);
    color: white;
    font-size: 30px;
}

.back-button:hover{
    cursor: pointer
}

#buttonsDiv {
    position: absolute;
    display: inline-block;
    height: 125px;
    top: 400px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#generatedLoadout{
    position: relative;
    top: 200px
}

#perks {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: -400px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 250px;
    width: 400px;
}

#perksH2{
    position: absolute;
    bottom: 0px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgb(182, 179, 179);
    font-size: 40px;
    font-family: sans-serif;
    text-decoration: underline;
}

#perks h5{
    color: rgb(182, 179, 179);
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
}

#perks img{
    width: 150px;
    height: 150px;
}

#selectedWeapons{
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    position: absolute;
    top: 950px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#selectedWeapons h2{
    color: rgb(182, 179, 179);
    font-size: 40px;
    font-family: sans-serif;
    text-decoration: underline;
    position: absolute;
    top: -50px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.weaponSlot h3{
    color:rgb(182, 179, 179);
    font-size: 30px;
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-left: 5px;
    
}

.weaponImg{
    width: 350px;
    height: 160px;
}

.attachments1{
    margin-top: 25px;
    color: rgb(182, 179, 179);
    font-family: sans-serif;
    font-size: 20px;
    line-height: 40px;

}

.attachments1 h4{
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.attachments2{
    margin-top: 25px;
    color: rgb(182, 179, 179);
    font-family: sans-serif;
    font-size: 20px;
    line-height: 40px;
}

.attachments2 h4{
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 10px;
}

#equipment h2{
    position: absolute;
    bottom: 275px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgb(182, 179, 179);
    font-size: 40px;
    font-family: sans-serif;
    text-decoration: underline;
}

#equipment {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: -700px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 250px;
    width: 400px;
}

#equipment h5{
    color: rgb(182, 179, 179);
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
}

@media screen and (max-width: 1100px){
    header {
        height: 75px;
        font-size: 50px;
    }
    #loadoutArea{
        margin-top: 125px;
    }
    #loadoutArea li{
        font-size: 15px;
    }
    #buttonsDiv{
        top: 350px;
        text-align: center;
    }
    .weaponImg{
        width: 200px;
        height: 75px;
    }
    .attachments1{
        font-size: 15px;
        line-height: 30px;
    }
    .attachments2{
        font-size: 15px;
        line-height: 30px;
    }
    .attachments1 h4{
        font-size: 20px;
    }
    .attachments2 h4{
        font-size: 20px;
    }
    #selectedWeapons{
        width: 600px;
        top: 700px;
    }
    #selectedWeapons h2{
        font-size: 30px;
    }
    .weaponSlot h3{
        font-size: 20px;
    }
    #perks h5{
        font-size: 13px;
    }
    #equipment{
        bottom: -650px
    }
    #equipment h5{
        font-size: 13px
    }
    #equipment h2{
        font-size: 30px;
    }
    #tacImg{
        height: 125px;
        width: 100px;
    }
    #lethalImg{
        height: 125px;
        width: 100px;
    }
    #perksH2{
        font-size: 30px;
    }
    #perks img{
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 600px){
    header{
        font-size: 30px;
        height: 50px;
    }
    #buttonsDiv button{
        width: 150px;
        height: 35px;
        font-size: 20px;
    }
    #loadoutBtn{
        margin-top: 15px;
    }
    .back-button{
        margin-top: 10px;
    }
    #selectedWeapons{
        width: 350px;
    }
    .weaponImg{
        width: 125px;
        height: 50px;
    }
    #selectedWeapons h2{
        font-size: 25px;
    }
    .attachments1{
        font-size: 8px;
        line-height: 20px;
    }
    .attachments2{
        font-size: 8px;
        line-height: 20px;
    }
    .attachments1 h4{
        font-size: 12px;
    }
    .attachments2 h4{
        font-size: 12px;
    }
    .weaponSlot{
        width: 175px;
    }
    .weaponSlot h3{
        font-size: 15px;
    }
    #selectedWeapons{
        top: 700px;
    }

}
@media screen and (max-width: 450px){
    #buttonsDiv{
       top: 360px; 
    }
    #loadoutArea li{
        font-size: 10px;
    }
    #loadoutArea{
        margin: 100px auto 0 auto;
        height: 1100px;
        padding-bottom: 100px; 
    }
}

